/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #E83A3A;
  --color-secondary: #1D0F5A;
  --color-accent: #3A6EE8;
  --color-light: #6AAFE8;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.border-primary {
  border-color: var(--color-primary);
}

.border-t-primary {
  border-top-color: var(--color-primary);
}

.border-l-primary {
  border-left-color: var(--color-primary);
}
